<div class="footer">
    <div class="container">
        <div class="body">
            <div class="link">
                <h1>SmartCard</h1>
                <p>Theo dõi chúng tôi tại</p>
                <a href="https://www.facebook.com/SmartCard-Th%E1%BA%BB-c%C3%A1-nh%C3%A2n-th%C3%B4ng-minh-101977905668992">
                    <i class='bx bxl-facebook-circle'></i>
                </a>
                <p>smartcardtap@gmail.com</p>
                <p>
                    <i class='bx bx-copyright' ></i>2021 SmartCardTap
                </p>
            </div>
            <div class="contac">
                <h2>Thông tin liên hệ</h2>
                <p>Nhăn tin trục tiếp vào page facebook SmartCard - Thẻ cá nhân thông minh </p>
                <p>ĐC: Số 10 ngõ 17 TDP Ngọc Đại, Đại Mỗ, Nam Từ Liêm, Hà Nội</p>
                <p>Điện thoại: 0353013130 (Mr.Lê)</p>
            </div>
            <div class="orther">
                <h2>Thông Tin Khác</h2>
                <p>Thay đổi thông tin cá nhân thẻ tại:
                    <a href="info.smartcard.info.vn">info.smartcard.info.vn</a>
                </p>
                <p>Chính sách khác: Chúng tôi sẽ cập nhật sau khi out jobs</p>
            </div>
        </div>
    </div>
</div>