<div class="header">
    <div class="header-nav">
        <div class="container">
            <div class="logo">
                <a href="#">
                    <img src="./img/logo.png" alt="">
                </a>  
            </div>
            <div class="nav">
                <ul>
                    <li>
                        <a href="#">Giới Thiệu</a>
                    </li>
                    <li>
                        <a href="#">Hướng Dẫn</a>
                    </li>
                    <li>
                        <a href="#">Chức Năng</a>
                    </li>
                </ul>
            </div>
            <div class="custom">
                <button class="btn btn-primary" type="submit">Thiết Kế Riêng</button>
            </div>
        </div>
    </div>
    <div class="backdrop">
        <div class="container">
            <div class="img">
                <div class="slogan">
                    <h1>Một Chạm </br> Chia Sẻ Tất Cả <br> Thông Tin Của Bạn</h1>
                    <button class="btn btn-primary" type="submit">Đặt Ngay</button>
                </div>
                <img src="./img/IMG BIA WEB.png" alt="">
            </div>
        </div>
    </div>        
</div>