<!DOCTYPE html>
<html lang="en">
<head>    
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <%- include('head') %>
</head>
<body>
    <%- include('header') %>
    <div class="backdrop">
        <div class="container">
            <div class="img">
                <div class="slogan">
                    <h1>Một Chạm </br> Chia Sẻ Tất Cả <br> Thông Tin Của Bạn</h1>
                    <button class="btn btn-primary" type="submit">Đặt Ngay</button>
                </div>
                <img src="./img/IMG BIA WEB.png" alt="">
            </div>
        </div>
    </div>  
    
    <div class="body">
        <div class="container">            
            <h1  id="gioithieu">SmartCard Là Gì? Và có gì</h1>
            <p>Bạn hãy hiểu đây là một card visit. Và chỉ cần duy nhất 1 card này bạn có thể chia sẻ thông tin mà mình muốn tới hàng nghìn người mà bạn muốn.</p>
            <div class="what-sc">
                <div class="img">
                    <img src="./img/06.1.png" alt="">
                </div>
                <div class="chidan">
                    <h2>Không cần cài đặt gì thêm</h2>
                    <p>Kết nới với smartphone bằng công nghệ NFT đã được trang bị sẵn. Hoặc quét QR code trên thẻ bằng camera có sẵn trên điện thoại</p>
                    <h2>Và còn nhiều hơn thế</h2>
                    <ul>
                        <li>Không giới hạn số lần chạm thẻ</li>
                        <li>Không thu phí hàng tháng</li>
                        <li>Thay đổi thông tin thoải mái, không giới hạn</li>
                        <li>An toàn, không yêu cầu tài khoản mật khẩu</li>
                        <li>Người được share dễ dàng lưu lại thông tin của bạn trong trình duyệt mặc định của điện thoại</li>
                    </ul>
                </div>
            </div>
            <div class="how-sc" >
                <h1>SmartCard Hoạt Động Như Thế Nào</h1>
                <div class="conten">
                    <div class="chamthe">
                        <img src="./img/smartphone.png" alt="">
                        <h2>Chạm thẻ vào điện thoại</h2>
                        <p>Thẻ được sử dụng công nghệ cảm ứng NFT. Chỉ cần chạm thẻ vào SmartPhone người khác là có thể
                            hiển thị thông tin mà không cần phải cài đặt gì thêm
                        </p>
                    </div>
                    <div class="quetqr">
                        <img src="./img/4133863.png" alt="">
                        <h2>Quét QR Code trên thẻ</h2>
                        <p>Mỗi thẻ sẽ có một QR code chứa thông tin của bạn. Mở quét QR trên điện thoại của bạn và di chuyển camera vào QR trên thẻ của bạn
                        </p>
                    </div>
                </div>
            </div> 
        </div>
    </div>    
    <div class="the-best">
        <div class="container">
            <h1>hơn thế nữa</h1>
            <div class="theBest-conten">
                <div class="waterproof">
                    <img src="./img/waterproof.png" alt="">
                    <h1>chống nước</h1>
                    <p>Ngân nước hoặc lau chùi thẻ bằng nước đều không anh hưởng đến thẻ</p>
                </div>
                <div class="design">
                    <img src="./img/design-thinking.png" alt="">
                    <h1>Thiết kế riêng</h1>
                    <p>Sở hữu mẫu thẻ theo phong cách riêng hoặc thương hiệu của bạn. Liên hệ ngay với chúng tôi</p>
                    <button class="btn btn-primary" type="submit">Xem Chi Tiết</button>
                </div>
                <div class="color-card">
                    <img src="./img/credit-card-payment.png" alt="">
                    <h1>Màu sắc</h1>
                    <p>Thẻ được in ofset màu sắc tươi sáng sắc nét và không bị phai màu theo thời gian</p>
                </div>
            </div>
        </div>
    </div>
    <div class="body">
        <div class="container">
            <div class="share-sc" id="chucnang">
                <h1>Chia sẻ những gì?</h1>
                <p><b>Câu trả lời là tất cả:</b> Giúp bạn chia sẻ rất nhanh thông tin từ các trang mạng xã hội cho đến các liên kết tài khoản bán hàng, STK ngân hàng và nhiều hơn thế nữa, ...</p>
                <div class="conten">                    
                    <div class="item img">
                        <img src="./img/5149653.png" alt="">
                    </div>                
                    <div class="item conten-item">
                        <div class="flex mxh">
                            <div class="icon">
                                <img src="./img/social-media.png" alt="">
                            </div>
                            <div class="text">
                                <h2>Các liên kết mạng xã hội</h2>
                                <p>Bạn có thể chia sẻ các liên kết như Facebook, Instagram, Zalo, Tiktok, Twiter,...</p>
                            </div>
                        </div>
                        <div class="flex calling">
                            <div class="icon">
                                <img src="./img/calling.png" alt="">
                            </div>
                            <div class="text">
                                <h2>Số điện thoại của bạn</h2>
                                <p>Đối tác của bạn có thể gọi điện luôn cho bạn, hoặc lưu số bạn vào danh bạ một cách dễ dàng</p>
                            </div>
                        </div>
                        <div class="flex site-tmdt">
                            <div class="icon">
                                <img src="./img/smartphone (1).png" alt="">
                            </div>
                            <div class="text">
                                <h2>Trang thương mại điện tử</h2>
                                <p>Đặt liên kết trang bán hàng của bạn thật dễ dàng. Khách hàng của bạn có thể vào xem chỉ với 1 click</p>
                            </div>
                        </div>
                        <div class="flex banking">
                            <div class="icon">
                                <img src="./img/bank-account.png" alt="">
                            </div>
                            <div class="text">
                                <h2>Số tài khoản hoặc ví điện tư</h2>
                                <p>Rất an toàn và đơn giản  khi bạn chỉ để lại STK hoặc liên kết chuyển tiền đến tài khoản ngân hàng, ví điện tử của bạn.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>          
        </div>
    </div>
    <div class="add-info" id="huongdan">
        <div class="container">
            <div class="title">
                <h1>Setup Cơ Bản Để Sử Dụng Thẻ</h1>
                <p>Khi đặt thẻ thành công. Bạn có ngay một tài khoản và hướng dẫn thêm thông tin thẻ. Làm theo hướng dẫ đó rất nhanh bạn đã có một trang thông tin đầy đủ</p>
            </div>
            <div class="conten">
                <div class="item left">
                    <div class="step">
                        <h2>Bước 1: Đặt mua thẻ</h2>
                        <p>SmartCard cung cấp cho bạn rất nhiều mẫu đẹp. Bạn có thể lựa chọn luôn hoặc liên hệ chúng tôi để được thiết kế riêng</p>
                    </div>
                    <div class="step">
                        <h2>Bước 2: Nhận thẻ và kiểm tra</h2>
                        <p>Sau 3-5 ngày. Bạn sẽ nhận được thẻ, chúng tôi có gửi cho bạn tài khoản và hướng dẫn rất chi tiết. Bạn hãy đọc nó nhé</p>
                    </div>
                </div>
                <div class="item center">
                        <img src="./img/untitled-1.png" alt="">
                </div>
                <div class="item right">
                    <div class="step">
                        <h2>Bước 3: Thay đổi và chỉnh sửa thông tin</h2>
                        <p>Bạn có thể thay đổi avatar, ảnh nền và các liên kết của bạn. Sắp xếp thay đổi đúng ý của bạn. Bạn đừng lo nhé nó dễ lắm.</p>
                    </div>
                    <div class="step">
                        <h2>Bước 4: Sử dụng</h2>
                        <p>Chúc mừng bạn. Rất dễ đúng không, giờ bạn đã có một thẻ chứa đựng toàn bộ thông tin mà bạn muốn rồi nhé.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="order-card">
        <div class="container">
            <div class="title">
                <h1>Lướt Xem Bạn Chọn Được Gì</h1>
                <div class="title-ct">                    
                    <p class="active">Top 10 card ưu thích</p>
                    <p>
                        đặt card 
                        <button class="btn btn-primary" type="submit">Thiết Kế Riêng</button>
                        theo phong cách của bạn
                    </p>                    
                </div>
            </div>
            <div class="order">
                <div class="model">
                    <img src="./img/Mau Card/23951.png" alt="">
                    <a href="#">
                        <button class="btn btn-primary" type="button">Đặt Ngay</button>
                    </a>
                </div>
                <div class="model">
                    <img src="./img/Mau Card/5692498.png" alt="">
                    <a href="#">
                        <button class="btn btn-primary" type="button">Đặt Ngay</button>
                    </a>
                </div>
                <div class="model">
                    <img src="./img/Mau Card/5713503.png" alt="">
                    <a href="#">
                        <button class="btn btn-primary" type="button">Đặt Ngay</button>
                    </a>
                </div>
                <div class="model">
                    <img src="./img/Mau Card/5718118.png" alt="">
                    <a href="#">
                        <button class="btn btn-primary" type="button">Đặt Ngay</button>
                    </a>
                </div>
                <div class="model">
                    <img src="./img/Mau Card/5774095.png" alt="">
                    <a href="#">
                        <button class="btn btn-primary" type="button">Đặt Ngay</button>
                    </a>
                </div>
                <div class="model">
                    <img src="./img/Mau Card/SL_102319_24310_21.png" alt="">
                    <a href="#">
                        <button class="btn btn-primary" type="button">Đặt Ngay</button>
                    </a>
                </div>
            </div>
            <div class="see-more">
                <h2>Còn Nhiều Hơn Thế Nữa</h2>
                <button class="btn btn-primary" type="button">Xem Thêm Mẫu Card Khác</button>
            </div>
        </div>
    </div>

    <%- include('footer') %>    
    
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="js/home.js"></script>
</body>
</html>