<!DOCTYPE html>
<html lang="en">
<head>    
    <title>Document</title>
    <%- include('head') %>
    <link rel="stylesheet" href="/css/product.css">
</head>
<body>
    <%- include('header') %>



    <%- include('footer') %>       
</body>
</html>