<!DOCTYPE html>
<html lang="en">
<head>    
    <title>Document</title>
    <%- include('head') %>
    <link rel="stylesheet" href="/css/product.css">
</head>
<body>
    <%- include('header') %>

    <div class="body">
        <div class="container">
            <h1>Có 100 mẫu card có sẵn cho bạn lựa chọn</h1>
            <div class="product">
                <div class="product-item">
                    <div class="img">
                        <img src="./img/Mau Card/23951 mt.png" alt="" class="front-face">
                        <img src="./img/Mau Card/23951 ms.png" alt="" class="back-face">
                        <h1>xem mat khac</h1>
                    </div>
                </div>
                <div class="product-item">
                    <div class="img">
                        <img src="./img/Mau Card/5692498 mt.png" alt="" class="front-face">
                        <img src="./img/Mau Card/5692498 ms.png" alt="" class="back-face">
                    </div>
                </div>
                <div class="product-item">
                    <div class="img">
                        <img src="./img/Mau Card/SL_102319_24310_21 mt.png" alt="" class="front-face">
                        <img src="./img/Mau Card/SL_102319_24310_21 ms.png" alt="" class="back-face">
                    </div>
                </div>
                <div class="product-item">
                    <div class="img">
                        <img src="./img/Mau Card/SL-100719-23970-78 mt.png" alt="" class="front-face">
                        <img src="./img/Mau Card/SL-100719-23970-78 ms.png" alt="" class="back-face">
                    </div>
                </div>
                <div class="product-item">
                    <div class="img">
                        <img src="./img/Mau Card/SL.121919.26160.57 mt.png" alt="" class="front-face">
                        <img src="./img/Mau Card/SL.121919.26160.57 ms.png" alt="" class="back-face">
                    </div>
                </div>
            </div>
            <div class="tag-nav">

            </div>
        </div>
    </div>

    <%- include('footer') %>       
</body>
</html>