<!DOCTYPE html>
<html lang="en">
<head>    
    <title>Document</title>
    <%- include('head') %>
    <link rel="stylesheet" href="/css/product.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pattaya&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <%- include('header') %>

    <div class="body">
        <div class="container">
            <img src="./img/sale1.png" alt="" class="drop-saleup">
            <div class="ready">
                <h1>Sẵn sàng 100+ Mẫu card</h1>
                <p>cho bạn lựa chọn</p>
                <i class='bx bx-chevrons-down'></i>
            </div>
            <div class="product">
                <div class="product-item">
                    <div class="img">
                        <div class="img-item">
                            <img src="./img/Mau Card/23951 mt.png" alt="" class="front-face">
                            <img src="./img/Mau Card/23951 ms.png" alt="" class="back-face">
                        </div>
                        <div class="option">
                            <img src="./img/Mau Card/23951 ms.png" class="face" alt="">
                            <button class="btn btn-primary" type="submit">Chọn Thẻ</button>
                        </div>
                    </div>
                </div>
                <div class="product-item">
                    <div class="img">
                        <div class="img-item">
                            <img src="./img/Mau Card/23951 mt.png" alt="" class="front-face">
                            <img src="./img/Mau Card/23951 ms.png" alt="" class="back-face">
                        </div>
                        <div class="option">
                            <img src="./img/Mau Card/23951 ms.png" alt="">
                            <button class="btn btn-primary" type="submit">Chọn Thẻ</button>
                        </div>
                    </div>
                </div>
                <div class="product-item">
                    <div class="img">
                        <div class="img-item">
                            <img src="./img/Mau Card/23951 mt.png" alt="" class="front-face">
                            <img src="./img/Mau Card/23951 ms.png" alt="" class="back-face">
                        </div>
                        <div class="option">
                            <img src="./img/Mau Card/23951 ms.png" alt="">
                            <button class="btn btn-primary" type="submit">Chọn Thẻ</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tag-nav">
                <div class="pagination">
                    <div class="prev">
                        <p>Prev</p>
                    </div>
                    <div class="number">
                        <ul>
                            <li class="active">1</li>
                            <li>2</li>
                            <li>3</li>
                        </ul>
                    </div>
                    <div class="next">
                        <p>Next</p>
                    </div>
                </div>
                <p>- 100 items -</p>
            </div>
            <div class="card-custom">
                <div class="your-contac">
                    <h1>Thiết kế thẻ theo phong cách riêng, thương hiệu của bạn.</h1>
                    <p>Nhập SĐT. SmartCard sẽ liên hệ bạn ngay</p>
                    <div class="input">
                        <input type="text" class="form-control" id="your-phone" placeholder="Nhập SĐT của bạn">
                        <button type="button" class="btn btn-outline-secondary">Gửi Đi</button>
                    </div>
                </div>
                <div class="contact">
                    <h2>Hoặc liên hệ SmartCard</h2>
                    <div class="contact-social">
                        <img src="./img/zalo.png" alt="">
                        <img class="center" src="./img/facebook.png" alt="">
                        <img src="./img/telegram.png" alt="">
                    </div>
                </div>                
                <div class="background"></div>
            </div>
        </div>
    </div>

    <div class="popup-setup">
        <div class="container">
            <i class='bx bx-x close'></i>
            <div class="display">
                <div class="logo">
                    <h1>Thẻ Của Bạn</h1>
                </div>
                <div class="img-fontFace">
                    <img src="./img/Mau Card/23951 mt trang.png" alt="" class="front-face">
                    <h1 id="name-card-fontFace" class="edit-display">SmartCard</h1>
                    <p id="slogan-card-fontFace" class="edit-display">Một Chạm Để Kết Nối</p>
                </div>
                <div class="img-backFace">
                    <img src="./img/Mau Card/23951 ms trang.png" alt="" class="back-face">
                    <h1 id="name-card-backFace" class="edit-display">Đồng Thị Nhung</h1>
                    <p id="slogan-card-backCard" class="edit-display">Deverloper</p>
                    <p id="address-card" class="edit-display">Sô 10, ngõ 17, Đại Mỗ, Nam Từ Liêm, Hà Nội</p>
                    <p id="phone-card" class="edit-display">0353013130</p>
                    <p id="mail-card" class="edit-display">smartcardtap@gmail.com</p>
                    <p id="web-card" class="edit-display">smartcard.info.vn</p>
                </div>
                <div class="pay">
                    <p>Tổng Đơn</p>
                    <h1>199.000 đ</h1>
                </div>
            </div>
            <div class="edit">
                <h1>Thông tin trên thẻ</h1>
                <h2>Thông tin mặt trước thẻ</h2>
                <input type="text" class="form-control" id="nameFontFace" placeholder="SmartCard">
                <input type="text" class="form-control" id="sloganFontFace" placeholder="Một Chạm Để Kết Nối">

                <h2>Thông tin mặt sau thẻ</h2>                
                <input type="text" class="form-control" id="nameBackFace" placeholder="Đồng Thị Nhung">
                <input type="text" class="form-control" id="sloganBackFace" placeholder="Deverloper">
                <h2>thông tin thêm</h2>
                <p>Thông tin không cần thiết bạn có thể bỏ trống. Design sẽ tự động căn chỉnh lại cho bạn trước khi in ấn.</p>
                <input type="text" class="form-control" id="address" placeholder="Sô 10, ngõ 17, Đại Mỗ, Nam Từ Liêm, Hà Nội">
                <input type="number" class="form-control" id="phone" placeholder="0353013130">
                <input type="mail" class="form-control" id="mail" placeholder="smartcardtap@gmail.com">
                <input type="text" class="form-control" id="web" placeholder="smartcard.info.vn">
                <input type="text" class="form-control" id="note" placeholder="Ghi chú">
                <div class="btn">
                    <button class="btn btn-primary" type="submit">Đặt Thẻ</button>
                </div>
            </div>
        </div>
    </div>

    <%- include('footer') %>       

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="./js/product.js"></script>
</body>
</html>